h1{
    font-family: var(--corpo-titulo);
    font-size: 28px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px;
}
p{
    font-family: var(--corpo-titulo);
    font-size: 20px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px; 
    text-align: justify;
}
.cabecalho__menu__link{
    font-family: var(--corpo-titulo);
    font-size: 20px;
    color: var(--branco);
    text-decoration: none;
}
.apresentacao__links__subtitulo{
    font-family: var(--corpo-titulo);
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--vermelho);
    width: 250px;
    text-align: center;
    border-radius: 35px;
    font-size: 20px;
    padding: 15px 0;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--corpo-titulo);
    transition: box-shadow 0.3s ease;
}
.inicio-fundo{
    height: 800px;

}
.circulo-titulo{
    margin-top: 50px;
    width: 520px;
    height: 520px;
    background-color: var(--vermelho);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-inicio{
    font-size: 32px;
}
.link {
    text-decoration: none; 
    color: var(--branco); 
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: var(--corpo-titulo);
    position: absolute;
    bottom: 10px;
}
