@font-face {
    font-family: 'raleway';
    src: url(fontes/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'nimbus';
    src: url(fontes/TAN_Nimbus/Nimbus.ttf);
}
  :root {
    --cinza: #141414; 
    --preto: #000000;
    --vermelho-escuro: #440B0F;
    --vermelho-medio: #640E15;
    --vermelho: #8B111B;
    --branco: #fafafa;

    --fontespeciais: 'nimbus', sans-serif;
    --corpo-titulo: 'raleway', sans-serif;
}
.conteudo {
    max-width: 1350px; 
    margin: 0 auto; 
    background-color: var(--cinza); 
}
*{
    margin: 0;
    padding: 0;
}
.linha{
    background-color: var(--vermelho);
    margin-left: 25px;
    height: 5px;
    width: 200px;
    border-radius: 10%;
    margin-top: -15px;
}
.titulo_fundo{
    background-color: var(--vermelho);
    border-radius: 10px;
    padding: 5px;
}
footer {
    background-color: var(--preto);
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.redes {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--corpo-titulo);
    display: flex;
    align-items: center;
}
.social-links img {
    width: 45px;
    margin-right: 5px; /* Ajuste este valor conforme necessário */
}
.logo img {
    width: 400px; /* Ajuste este valor conforme necessário */
}
h1{
    font-family: var(--corpo-titulo);
    font-size: 28px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px;
}
h2{
    font-family: var(--corpo-titulo);
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px;
}
p{
    font-family: var(--corpo-titulo);
    font-size: 22px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px; 
    text-align: justify;
}
header {
    background-color: var(--preto);
}
body{
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branco);
    margin: 0;
    padding: 0;
}
.cabecalho__menu{
    position: relative;
    z-index: 2;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center; 
    background-color: var(--preto2);
    height: 110px; 
}
.cabecalho__menu__link{
    font-family: var(--corpo-titulo);
    font-size: 20px;
    color: var(--branco);
    text-decoration: none;
}
.cabecalho__menu__link__img{
    height: 80px;
    width: 100%;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
.menu-links {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    height: 110px;
}
.circulo {
    height: auto;
    position: absolute;
    margin-top: 5%;
    margin-left: 43%;
}
.circulo img{
    width: 730px;
    height: auto;
    border-radius: 50%;
    border: 20px solid var(--vermelho);
}
.visao{
    margin-top: 70px;
}
.visao_circulo{
    display: flex;
    align-items: center;
}
.circulo_e {
    margin-right: 20px;
    margin-left: -100px;
    z-index: 100;

}
.circulo_e img{
    margin-right:50%;
    width: 730px;
    height: auto;
    border-radius: 50%;
    border: 20px solid var(--vermelho-escuro);
}
/* fim das configuraçòes padrões */
.inicio_sobre {
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_inicio_sobre{
    font-family: var(--corpo-titulo);
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}
.linha_inicio{
    background-color: var(--vermelho);
    height: 5px;
    width: 260px;
    border-radius: 10%;
    margin-top: -15px;
}
.texto_inicio_sobre{
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
    width: 80%;
}
.visao_circulo{
    display: flex;
    align-items: center;
}
#pesquisa {
    margin-top: 85px;
}
.pesquisa-mural{
    width: 800px;
    height:auto;
    margin-left:19%;
    margin-top: 50px;
    border-radius: 15px;
}
.integrantes{
    display: flex;
    gap: 30px;
    margin-left: 2.2%;
    margin-right: 2.2%;
}
figcaption{
    font-family: var(--corpo-titulo);
    color: var(--branco);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    width: 90%;
}
#participantes {
    margin-top: 85px;
}
.local1 {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 5px solid var(--vermelho-medio);
}
.img-movimento{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
}
.movimento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 35px;
}
.movimento-card {
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-container img {
    max-width: 85%;
    height: auto;
    object-fit: cover;
}
.movimento-description {
    text-align: left;
    font-family: var(--corpo-titulo);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 7.5%;
    width: 79.5%;
    padding: 0.8rem;
    background-color: var(--vermelho-medio);
    color: var(--branco);
    opacity: 1;
    transform: translateY(85%);
    height: 395px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.movimento-card:hover .movimento-description {
    transform: translateY(0);
    opacity: 1;
}
.movimento-name {
    font-size: 25px;
    margin-top: -3px;
    text-align: justify;
    margin-left: 5px;
}
@media screen and (max-width: 1300px) {
    .conteudo{
        max-width: 95%;
    }
    .oque img {
        width: 550px;
    }
    h1{
        font-size: 23px
    }
    p{
        font-size: 18px;
    }
    h2{
        font-size: 20px;
    }
    .circulo_e {
        margin-left: -20px;
    }
    .circulo_e img{
        width: 650px;
    }
    .integrantes{
        gap: 20px;
    }
    .local1 {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .conteudo {
        max-width: 95%;
    }
    .cabecalho__menu {
        justify-content: left;
        height: 80px;
    }
    .menu-icon {
        display: block;
    }
    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
        background-color: var(--preto);
        text-align: center;
    }
    .menu-links a:last-child {
        margin-bottom: 20px;
    }
    .menu-links.active {
        display: flex;
        height: auto;
    }

    /* Ajustes adicionais para elementos específicos em telas menores */
    h1 {
        font-size: 24px;
    }
    h2,
    p {
        font-size: 18px;
    }
    .inicio_sobre {
        height: auto;
        padding: 50px 25px;
        text-align: center;
    }
    .titulo_inicio_sobre {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .linha_inicio {
        width: 150px;
    }
    .texto_inicio_sobre {
        font-size: 20px;
    }
    .pesquisa-mural {
        width: 90%;
        margin-left: 4.5%;
    }
    .integrantes {
        flex-wrap: wrap;
        margin-left: 15%;
        justify-content: center;
    }
    figcaption {
        margin-left: -10px;
    }
    .local1 {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .image-container img {
        max-width: 80%;
    }
    .movimento-name {
        font-size: 20px;
    }
    .movimento-description {
        font-size: 16px;
    }
    .movimento-grid{
        display: flex;
        flex-direction: column;
    }
    .movimento-description{
        height: 300px;
        transform: translateY(85%);
    }
    .visao_circulo{
        flex-direction: column;
    }
    .circulo_e img{
        margin: 0;
        width: 340px;
        height: auto;
        border-radius: 50%;
    }
    .circulo_e {
        margin-right: 20px;
        margin-left: 20px;
        z-index: 100;
    }
}

@media screen and (max-width: 820px) {
    .inicio_sobre {
        background-position: center center;
        height: auto; /* Alterando para altura automática */
        padding: 100px 25px; /* Adaptação do padding para manter o conteúdo visível */
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    .conteudo{
        max-width: 95%;
    }
    .cabecalho__menu{
        justify-content: left;
        height: 80px;
    }  
    .menu-icon {
        display: block;
    }
    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0; /* Definimos a altura inicial como 0 para ocultar o menu */
        overflow: hidden; /* Oculta qualquer conteúdo que não caiba na altura definida */
        transition: height 0.3s;
        background-color: var(--preto);
        text-align: center;
    }
    .menu-links a:last-child {
        margin-bottom: 20px; 
    }
    .menu-links.active {
        display: flex;
        height: auto;
    }
    .social-links {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .redes {
        color: var(--branco);
        text-decoration: none;
        font-family: var(--corpo-titulo);
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    .social-links img {
        width: 25px;
        margin-right: 5px; 
    }
    .logo img {
        width: 200px; 
    }
}