@font-face {
    font-family: 'raleway';
    src: url(fontes/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'nimbus';
    src: url(fontes/TAN_Nimbus/Nimbus.ttf);
}
  :root {
    --cinza: #141414; 
    --preto: #000000;
    --vermelho-escuro: #440B0F;
    --vermelho-medio: #640E15;
    --vermelho: #8B111B;
    --branco: #fafafa;

    --fontespeciais: 'nimbus', sans-serif;
    --corpo-titulo: 'raleway', sans-serif;
}
.conteudo {
    max-width: 1350px; 
    margin: 0 auto; 
    background-color: var(--cinza); 
}
*{
    margin: 0;
    padding: 0;
}
.button-top {
    width: 45px;
    height: 45px;
    background-color: var(--vermelho-escuro);
    position: fixed;
    left: 100%;
    top: 100%;
    z-index: 10000;
    transform: translate(-100%, -100%);
    border-radius: 50%;
    margin: -30px;
    cursor: pointer;
    outline: 0;
    border: 0px;
}
.button-top img {
    width: 50%;
    filter: invert(100%);
}
.linha{
    background-color: var(--vermelho);
    margin-left: 25px;
    height: 5px;
    width: 200px;
    border-radius: 10%;
    margin-top: -15px;
}
.titulo_fundo{
    background-color: var(--vermelho-medio);
    border-radius: 10px;
    padding: 5px;
}
footer {
    background-color: var(--preto);
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.redes {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--corpo-titulo);
    display: flex;
    align-items: center;
}
.social-links img {
    width: 45px;
    margin-right: 5px; /* Ajuste este valor conforme necessário */
}
.logo img {
    width: 400px; /* Ajuste este valor conforme necessário */
}
  
h1{
    font-family: var(--corpo-titulo);
    font-size: 28px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px;
}
h2{
    font-family: var(--corpo-titulo);
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px;
}
p{
    font-family: var(--corpo-titulo);
    font-size: 20px;
    margin-top: 20px; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    margin-left: 25px; 
    text-align: justify;
}
header {
    background-color: var(--preto);
}
body{
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branco);
    margin: 0;
    padding: 0;
}
.cabecalho__menu{
    position: relative;
    z-index: 2;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center; 
    background-color: var(--preto);
    height: 110px; 
}
.cabecalho__menu__link{
    font-family: var(--corpo-titulo);
    font-size: 20px;
    color: var(--branco);
    text-decoration: none;
}
.cabecalho__menu__link__img{
    height: 80px;
    width: 100%;
    margin-left: -100%;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
.menu-links {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    height: 110px;
    margin-right: -20%;
}
.cabecalho__menu__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--vermelho-medio);
    margin-top: 5px;
    border-radius: 20px;
    transition: width 0.3s;
}

.cabecalho__menu__link:hover::after,
.cabecalho__menu__link.active::after {
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--branco);
}
.circulo {
    height: auto;
    margin-right: -5%;
}
.circulo img{
    width: 730px;
    height: auto;
    border-radius: 50%;
    border: 20px solid var(--vermelho-escuro);
}
.visao{
    margin-top: 70px;
}
.visao_circulo{
    display: flex;
    align-items: center;
}
.circulo_e {
    margin-right: 20px;
    margin-left: -100px;
    z-index: 100;

}
.circulo_e img{
    margin-right:50%;
    width: 730px;
    height: auto;
    border-radius: 50%;
    border: 20px solid var(--vermelho-escuro);
}
/* fim das configurações padrao */
.inicio_territorio {
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_inicio_territorio{
    font-family: var(--corpo-titulo);
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}
.linha_inicio{
    background-color: var(--vermelho);
    height: 5px;
    width: 260px;
    border-radius: 10%;
    margin-top: -15px;
}
.texto_inicio_territori{
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
    width: 80%;
}
.locais{
    margin-top: -170px;
    margin-bottom: 80px;
}
.locais_1{
    display: flex;
    gap: 50px;
    margin-left: 7.5%;
    margin-bottom: 20px;
}
.local1 {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 10px solid var(--vermelho-medio);
}
figcaption{
    font-family: var(--corpo-titulo);
    color: var(--branco);
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
.demarcacao-img {
    display: flex;
    flex-direction: row;
}
.demarcacao_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}
.pl_490{
    display: flex;
    margin-top: 40px;
    background-color: var(--vermelho-medio);
}
.pl__490{
    margin-top: 40px;
    background-color: var(--vermelho-medio);
}
.pl_490 img {
    border-radius: 4%;
    width: 50%;
    height: auto;
    margin: 30px;
}
@media screen and (max-width: 1300px) {
    .conteudo{
        max-width: 95%;
    }
    .oque img {
        width: 550px;
    }
    .cabecalho__menu__link__img {
        margin-left: -40%;
    }
    .menu-links {
        margin-right: 0px;
    }
    h1{
        font-size: 23px
    }
    p{
        font-size: 18px;
    }
    .circulo_e {
        margin-left: -20px;
    }
    .circulo_e img{
        width: 650px;
    }
    .circulo {
        height: auto;
        margin-right: -2%;
    }
    .circulo img{
        width: 650px;
    }
    .locais{
        margin-bottom: 70px;
        margin-top: -180px;
    }
    .local1 {
        width: 220px;
        height: 220px;
    }
    .locais_2 , .locais_1{
        gap: 45px;
    }
}
@media screen and (max-width: 820px) {
    .conteudo{
        max-width: 95%;
    }
    .cabecalho__menu{
        justify-content: left;
        height: 80px;
    }  
    .menu-icon {
        display: block;
    }
    .cabecalho__menu__link__img {
        margin-left: 0px;
    }
    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0; /* Definimos a altura inicial como 0 para ocultar o menu */
        overflow: hidden; /* Oculta qualquer conteúdo que não caiba na altura definida */
        transition: height 0.3s;
        background-color: var(--preto);
        text-align: center;
    }
    .menu-links a:last-child {
        margin-bottom: 20px; 
    }
    .menu-links.active {
        display: flex;
        height: auto;
    }
    .demarcacao-img{
        flex-direction: column-reverse;
    }
    .locais{
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .locais_1{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 18%;
        margin-top: 25px;
    }
    .local1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .circulo img{
        margin: 0;
        width: 90%;
        height: auto;
        border-radius: 50%;
        margin-top: 2em;
    }
    .circulo {
        margin-right: 0px;
        margin-left: 0px;
        z-index: 100;
    }
    .linha{
        width: 130px;
    }
    .locais_2{
        display: flex;
        gap: 50px;
        flex-direction: column;
        margin-left: 18%;
        margin-top: 30px;
    }
    .demarcacao_img {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }
    figcaption{
        font-family: var(--corpo-titulo);
        color: var(--branco);
        text-decoration: none;
        text-align: center;
        margin-left: -90px;
        margin-top: 10px;
        font-size: 16px;
    }
    .pl_490{
        flex-direction: column-reverse;
        margin-top: 40px;
        background-color: var(--vermelho-medio);
    }
    .pl_490 img {
        border-radius: 8%;
        width: 90%;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
    .titulo_inicio_territorio{
        font-family: var(--corpo-titulo);
        font-size: 35px;
        text-align: center;
        margin-bottom: 35px;
    }
    .texto_inicio_territorio{
        font-size: 22px;
        text-align: center;
        margin-top: 28px;
        width: 90%;
    }
    .social-links {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .redes {
        color: var(--branco);
        text-decoration: none;
        font-family: var(--corpo-titulo);
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    .social-links img {
        width: 25px;
        margin-right: 5px; 
    }
    .logo img {
        width: 200px; 
    }
    .button-top {
        position: relative;
        left: 50%;
        transform: translate(0, -50%);
        margin-top: 5px;
        margin-bottom: 10px;
    }  
}

